/* COLORS
  background: #550527
  text: FAA613
Unassaigned 
  GREEN #688E26
  ORANGE F44708
  RED A10702 */

body {
background: #550527;
color: #FAA613;
}

/* mobile landscape  DEFAULT*/
#pad-grid{
  background: #A10702;
  width: 80vw;
  height: 80vw;
  margin: 0px auto;
  padding: .5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1em;
}

.drum-pad p{
  font-size: 150%;
  justify-content: center;
  align-content: center;
}

.drum-pad{
  background: #F44708;
  box-shadow: 5px 10px #900601;
}

h1{
  text-align: center;
  margin-bottom: 2px;
  padding-bottom: 0px;
}
.line{
  text-decoration: line-through;
}

#display-wrapper{
  background: #900601;
  margin: 0px auto;
  text-align: center;
  color: #ddd;
  font-weight: bold;
  font-size: 2em;
  width: 10em;
}