/* COLORS
  background: #550527
  text: FAA613
Unassaigned 
  GREEN #688E26
  ORANGE F44708
  RED A10702 */

body {
background: #550527;
color: #FAA613;
}

/* mobile landscape  DEFAULT*/
#pad-grid{
  background: #688E26;
  width: 80vw;
  height: 80vw;
  padding: .5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1em;
}

.drum-pad p{
  font-size: 200%;
  justify-content: center;
  align-content: center;
}

.drum-pad{
  background: #A10702;
}